*{
margin: 0;
padding: 0;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #163A24;
color: white;
}
nav button{
padding: 10px 20px;
background-color: #198C36;
border: 0;
border-radius: 20px;
color: white;
}
header{
display: flex;
justify-content: center;
align-items: center;
background-color: #163A24;
color: white;
}

main .s1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

main .s2{
display: flex;
justify-content: space-evenly;
align-items: center;

}
.s4{
display: flex;
justify-content: space-around;
text-align: center;
padding-top: 20px;
background: #163A24;
color: white;
}
.s4__wrapper img{
display: block;
margin: 0;
margin-top: 40px;
align-items: center;


}





.s6{
display: flex;
justify-content: space-around;
align-items: center;
text-align: center;
padding-top: 50px;
color: #163A24;
}
.s6__bax p{
padding-top: 20px;
color: #163A24;

}
.s8{

padding-top: 20px;

}

.s5 {
    text-align: center;
    background-color: #F2EFE6;
}

.ota {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 150px;
    
}

.ota .ota__box1{
    width: 300px;
    background-color: #FBFAF7;
    width: 353;
height: 450px;
opacity: 1;
border-radius: 15px;

}

.ota .ota__box2{
    width: 300px;
    background-color: #FBFAF7;
    width: 353;
height: 450px;
opacity: 1;
border-radius: 15px;

}

.ota .ota__box3{
    width: 300px;
    background-color: #FBFAF7;
    width: 353;
height: 450px;
opacity: 1;
border-radius: 15px;

}


.s10 .otabek {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.s10 h1 {
    text-align: center;
}

.s10 {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #F2EFE6;
}

.s10 button {
    display: block;
    margin: auto;
padding: 10px 20px;
background-color: #198C36;
color: white;
border: 0;
border-radius: 10px;
}
.s11{
display: flex;
justify-content: space-around;
align-items: center;

}
.s11__box1 button{
border-radius: 100px;
color: #163A24;
background-color: #163A24;
color: white;
padding: 10px 20px;
}


