body{
background-image: url(./60b4a26558.png);
background-repeat: no-repeat;
background-size: cover;
position: relative;
position: relative;
}
.qasoskorlar1{
position: absolute;
top: 300px;
left:  530px;
animation-name: qasoskorlar1;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.qasoskorlar2{
position: absolute;
top: 300px;
right:  530px;
animation-name: qasoskorlar2;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}

@keyframes qasoskorlar1 {
from{

}
to{
left: 800px;
}
}


@keyframes qasoskorlar2 {
from{

}
to{
right: 800px;
}
}


